footer[role="contentinfo"] {
  	position: relative;
  	margin: 18px -1.714285714rem 0;
	background: #ebebeb;
	font-size: .9rem;
}
footer .wrapper {
	padding: 0 24px;
	padding: 0 1.714285714rem;
}
#colophon h6 {
	color: #000;
	margin-bottom: 5px;
	text-transform: uppercase;
}

#colophon a,
#colophon p,
.legal {
	color: #686868;
	font-weight: 300;
}

#colophon a {
	font-weight: 600;
	text-decoration: none;
}

#colophon a:hover {
	color: #a6a6a6;
}

#colophon .content {
	padding-top: 21px;
	padding-top: 1.3125rem;
	margin-bottom: 20px;
}

#colophon .siteinfo {
	overflow: auto;
}

#colophon .column {
	box-sizing: border-box;
}

#colophon .column:not(.first):before {
  display: inline-block;
  border-top: 1px solid #fff;
  content: "";
  width: 100%;
  margin: 0 -24px;  
  margin: 0 -1.714285714rem;
  position: absolute;
}

.legal {
	margin-top: 25px;
}

/*SUBSCRIBE FORM STYLING*/
#colophon form.wpcf7-form {
	margin: 30px 0;
	position: relative;
}

#colophon form.wpcf7-form input {
	border: none;
	height: 20px;
	padding: 15px;
	-moz-box-sizing: content-box; /* or `border-box` */
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#colophon form.wpcf7-form input[type="email"] {
	border-radius: 0;
	display:inline-block;
	font-size: 1em;
	vertical-align: top;
	width: 50%;
}

#colophon form.wpcf7-form input[type="submit"] {
  background-color: #686868;
  background-image: none;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}

#colophon label {
  color: #a6a6a6;
  display: block;
  font-weight: 300;
  margin: 0 0 2px;
  text-transform: uppercase;
}

#colophon label.float {
  left: 14px;
  position: absolute;
  top: 12px;
}

#colophon span.wpcf7-form-control-wrap {
  position: inherit;
}

#colophon span.wpcf7-not-valid-tip {
  display: none;
}

div.wpcf7-mail-sent-ok,
div.wpcf7-mail-sent-ng,
div.wpcf7-validation-errors {
	border: 1px solid #ccc;
}

div.wpcf7-mail-sent-ok {
	color: #00a5e5;
}
div.wpcf7-mail-sent-ng {
	color:#ff0000;
}

div.wpcf7-response-output {
  margin: 2em 0em 0em 0em;
  padding: 0.2em 1em;
  width: 78%;
}

div.wpcf7-validation-errors {
	color: #ff0000;
}
@media only screen and (min-width: 737px) {
	#colophon .column {
		box-sizing: border-box;
		float: left;
		width: 33%;
	}
	#colophon .column:not(.first):before {
		display: none;
	}
	#colophon .column:before {
		display:none;
	}
	#colophon .content {
		padding-top: 0;
	}
	#colophon .first {
		padding-right: 50px;
	}

	#colophon .middle {
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
		padding: 0 50px;
	}

	#colophon .last {
		padding-left: 50px;
	}

	footer[role="contentinfo"] {
		margin: 100px -2.857142857rem 0;
	}
}

@media only screen and (max-width: 736px) {
	footer[role="contentinfo"] { padding-top:0; }
	footer .wrapper { padding:0 5%; padding-top:10px; }
	
	#colophon h6 { margin-top:10px; }
	#colophon a, #colophon p, .legal { line-height:20px; font-size:13px; }
	#colophon .content { padding-top:0; margin-bottom:15px; }
	#colophon .column { padding-top:1px; }
	
	#colophon form.wpcf7-form { margin:15px 0; }
	#colophon form.wpcf7-form input[type="email"] { width:89%; border:1px solid #ababab; }
	#colophon form.wpcf7-form input[type="submit"] { display:block; width:89%; margin-top:10px; }
	
	#colophon label.float { position:relative; height:0px; display:block; left:inherit; top:14px; margin:0 auto; max-width:118px; }
	
	div.wpcf7-response-output { padding-top:0px; margin-top:0px; margin:auto; width:89%; }
	
	.legal { margin-top:15px; margin-bottom:10px; }
	
	#colophon .mobile-footer-nav .menu-topics-container a { color:#FFF; text-transform:uppercase; display:block; padding:15px 5%; }
	#colophon .mobile-footer-nav .menu-topics-container a:after { 
		display:inline-block; 
		content:' '; 
		padding-left:10px; 
		border:solid transparent; 
		border-color:rgba(255, 255, 255, 0); 
		border-left-color:#FFF; 
		border-width:7px; 
		height:0; 
		width:0; 
		margin-left:10px; 
		margin-bottom:-2px; 
	}
	
	#colophon .mobile-footer-nav .menu-topics-container { display:block; position:relative; margin-top:-1px; background:#686868; top:0; }
	#colophon .mobile-footer-nav .menu-topics-container li { border-top:1px solid #868686; }
	#colophon .mobile-footer-nav .menu-topics-container li:first-child { border-top:none; }
}