footer[role="contentinfo"] {
	background: #ebebeb;
	font-size: .9em;
	max-width: 1280px;
	overflow: auto;
}

#colophon h6 {
	color: #000;
	margin-bottom: 5px;
	text-transform: uppercase;
}

#colophon a,
#colophon p,
.legal {
	color: #686868;
	font-weight: 300;
}

#colophon a {
	font-weight: 600;
	text-decoration: none;
}

#colophon a:hover {
	color: #a6a6a6;
}

#colophon .content {
	margin-bottom: 20px;
}

#colophon .siteinfo {
	overflow: auto;
}

#colophon .column {
	box-sizing: border-box;
	float: left;
	width: 33%;
}

#colophon .first {
	padding-right: 50px;
}

#colophon .middle {
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	padding: 0 50px;
}

#colophon .last {
	padding-left: 50px;
}

.legal {
	margin-top: 25px;
}

/*SUBSCRIBE FORM STYLING*/
#colophon form.wpcf7-form {
	margin: 30px 0;
	position: relative;
}

#colophon form.wpcf7-form input {
	border: none;
	height: 20px;
	padding: 15px;
	-moz-box-sizing: content-box; /* or `border-box` */
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#colophon form.wpcf7-form input[type="email"] {
	border-radius: 0;
	display:inline-block;
	font-size: 1em;
	vertical-align: top;
	width: 50%;
}

#colophon form.wpcf7-form input[type="submit"] {
  background-color: #686868;
  background-image: none;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}

#colophon span.wpcf7-form-control-wrap {
  position: inherit;
}

#colophon label.float {
  left: 14px;
  position: absolute;
  top: 12px;
}

#colophon label {
  color: #a6a6a6;
  display: block;
  font-weight: 300;
  margin: 0 0 2px;
  text-transform: uppercase;
}