.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */






/*============================== SIDEBAR ==============================*/
#main {
	position:relative;
	height:auto;
}

.btn {
	margin-top:20px;
	background:#000;
	color:#FFF;
	text-transform:uppercase;
	font-weight:600;
	font-size:16px;
	position:relative;
	text-decoration:none;
	padding:17px 18px 17px 18px;
	display:inline-block;
}

.btn:active {
	top:2px;
}

.category #secondary {
	margin-left:-1px;
}

#secondary .container .widget {
	padding-top:11px;
	padding-bottom:55px;
	margin-bottom:0;
}

#secondary .container .widget.event {
	display:block;
	height:auto;
	background:#FFF;
}

#secondary .container .widget.infographic {
	cursor:pointer;
	display:block;
	text-decoration:none;
}

#secondary .container .widget.infographic a {
	text-decoration:none;
}

#secondary .container .widget.infographic a[rel*="category"] {
	color:#FFF;
	line-height:21px;
}

#secondary .container img {
	border-radius:0px;
	box-shadow: 0 0 0;
	width:100%;
}

#secondary .container h3 {
	color:#c3c3c3;
	text-transform:uppercase;
	font-size:16px;
	margin-bottom:35px;
	letter-spacing:1px;
}

#secondary .container h4 {
	color:#000;
	text-transform:uppercase;
	margin-top:16px;
	font-size:18px;
}

#secondary .container .date {
	color:#686868;
	display:block;
	margin-top:11px;
	padding-left:0;
	padding-top:0;
}

#secondary .container .btn {
	width:92px;
	height:auto;
	position:relative;
	color:#FFF;
}

#secondary .container .btn:hover {
	background-color: #a6a6a6;
}

#secondary .container p {
	color:#686868;
	margin-top:12px;
	margin-bottom:0;
	font-size:14px;
	font-weight:100;
}

#secondary .container .read-more {
	font-size:14px;
	font-weight:800;
	color:#000;
	text-decoration:none;
	margin-top:20px;
	display:block;
}

#secondary .container .read-more:hover {
	color: #a6a6a6;
}

#secondary .container .list {
	list-style:decimal;
	margin-left:20px;
}

#secondary .container .list li {
	color:#C3C3C3;
	font-weight:600;
	padding-left:10px;
	margin-bottom:20px;
}

#secondary .container .list a {
	color:#000;
	font-weight:800;
	text-decoration:none;
}

#secondary .container .list a:hover {
	color: #a6a6a6;
}





/*=============================== EVENT PAGE ===============================*/
.single-event .header-image-container, .single-event .issue {
	display:none;
}

.single-event .event-wrapper {
	min-height:500px;
}

.single-event .logo img {
	width:100%;
}

.single-event .logo {
	margin-top:0;
}

.single-event .site-header {
	height:135px;
}

.single-event #masthead .event {
	display:none;
}

.event-wrapper .content, .infographic-wrapper .content {
	max-width:710px;
	width:100%;
	margin:auto;
}

.event-wrapper h1, .infographic-wrapper h1 {
	font-size:46px;
	text-transform:uppercase;
	margin-bottom:0;
}

.event-wrapper h3, .infographic-wrapper h3 {
	color:#c3c3c3;
	text-transform:uppercase;
	font-size:16px;
	margin-bottom:8px;
	letter-spacing:1px;
}

.event-wrapper .subtitle {
	text-transform:uppercase;
	font-weight:800;
	color:#000;
}

.event-wrapper .header, .infographic-wrapper .header {
	max-width:700px;
	width:100%;
	margin-top:22px;
}

.event-wrapper p, .infographic-wrapper p {
	color:#676767;
	font-size:20px;
	font-weight:100;
	line-height:30px;
	margin-top:30px;
}

.event-wrapper a {
	color:#000;
}

.event-wrapper .btn {
	color:#FFF;
	width:120px;
	padding:17px 55px 17px 55px;
}

.event-wrapper .btn:hover {
	background-color:#a6a6a6;
}
.event-wrapper .description, .infographic-wrapper .discription {
	margin-bottom:60px;
}

.event-wrapper .col-1, .event-wrapper .col-2 {
	float:left;
	position:relative;
}

.event-wrapper .col-1 {
	width:15%;
}

.event-wrapper .col-2 {
	width:80%;
	padding-left:5%;
}

.event-wrapper .moderator,
.event-wrapper .panelist,
.event-wrapper .speaker {
	border-top:1px solid #E4E4E4;
	margin-top:30px;
	padding-top:20px;
}

.event-wrapper .moderator .label,
.event-wrapper .panelist .label,
.event-wrapper .speaker .label {
	display:block;
	text-transform:uppercase;
	font-weight:100;
	font-size:12px;
	margin-bottom:8px;
}

.event-wrapper .moderator .name,
.event-wrapper .panelist .name,
.event-wrapper .speaker .name {
	display:block;
	text-transform:uppercase;
	font-weight:800;
	font-size:18px;
	margin-bottom:16px;
}

.event-wrapper .moderator .title,
.event-wrapper .panelist .title,
.event-wrapper .speaker .title {
	font-style:italic;
	font-weight:100;
	font-size:18px;
	line-height:24px;
}





/*================================ INFOGRAPHICS PAGE ================================*/
.single-infographic .header-image-container, .single-infographic .issue {
	display:none;
}

.single-infographic .infographic-wrapper {
	min-height:500px;
}

.single-infographic .logo img {
	width:180px;
}

.single-infographic .logo {
	margin-top:0;
}

.single-infographic .site-header {
	height:135px;
}

.single-infographic #masthead .event {
	display:none;
}

.infographic-wrapper .icon-container {
	position:relative;
	top:-40px;
	right:10px;
}

.infographic-wrapper .icon-download {
	display:block;
	width:37px;
	height:37px;
	background: url('../images/icon-download.png') no-repeat 0 0;
	float:right;
	margin-right:1px;
	cursor:pointer;
}

.infographic-wrapper .icon-download a {
	display:block;
	height:37px;
	width:37px;
	text-decoration:none;
}

.infographic-wrapper .icon-expand {
	display:block;
	width:37px;
	height:37px;
	background: url('../images/icon-expand.png') no-repeat 0 0;
	float:right;
	cursor:pointer;
}

.infographic-wrapper .tag-issue {
	color:#a5a5a5;
	text-transform:uppercase;
	font-size:12px;
	margin-top:12px;
}

.infographic-wrapper .issue-name {
	color:#696969;
	font-weight:300;
	font-style:italic;
	font-size:16px;
	text-transform:none;
}

.infographic-wrapper .taxonomy {
	border-top:1px solid #dddddd;
	margin-top:30px;
	padding: 15px 0 20px 0;
	text-transform:uppercase;
	color:#a7a7a7;
	font-size:12px;
	font-weight:300;
	letter-spacing:1px;
}

.infographic-wrapper .taxonomy .col-1 {
	position:relative;
	width:50%;
	float:left;
}

.infographic-wrapper .taxonomy .col-2 {
	position:relative;
	width:50%;
	float:right;
	text-align:right;
	padding-top:17px;
}

.infographic-wrapper p.entry-meta {
	display:inline;
	position:relative;
	top:-3px;
}

.infographic-wrapper p.entry-meta a[rel*="category"] {
	line-height:1.3125rem;
}

.infographic-wrapper .tags {
	color:#000;
}

.infographic-archive {
	padding-top:75px;
	border-top:1px solid #ddd;
}

.infographic-archive h3 {
	margin-bottom:20px;
}

.infographic-archive .item {
	float:left;
	width:35.9%;
	min-height:250px;
	display:block;
	text-decoration:none;
	color:#000;
}

.infographic-archive .item.last {
	margin-right:0;
	width:28.2%;
}

.infographic-archive .item img {
	width:78.3%;
}

.infographic-archive .item.last img {
	width:100%;	
}

.infographic-archive .title {
	font-weight:800;
	text-transform:uppercase;
	font-size:20px;
	margin-top:15px;
}

.infographic-archive .date {
	color:#a4a4a4;
	font-weight:300;
	text-transform:uppercase;
	font-size:12px;
	margin-top:5px;
}





/*================================ LIGHTBOX INFOGRAPHICS ================================*/
.infographic-lightbox {
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:100;
	overflow:hidden;
}

.infographic-background {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity: 0.9;
    filter: alpha(opacity=90);
    background:#FFF;
}

.infographic-container {
	position:relative;
	top:50%;
	left:0;
	margin:0 auto;
	max-width:1200px;
	width:100%;
}

.infographic-container .image {
	display:block;
	margin-bottom:25px;
}

.infographic-container .image img {
	width:auto;
	max-width:100%;
}

.infographic-container .title {
	text-transform:uppercase;
	font-weight:800;
	font-size:24px;
	display:block;
	width:30%;
}

.infographic-container .issue-info {
	text-transform:uppercase;
	font-weight:100;
	font-size:12px;
}

.infographic-container .close-container {
	position:relative;
}

.infographic-container .icon-close {
	position:absolute;
	right:0;
	top:0;
	display:block;
	width:41px;
	height:41px;
	background: url('../images/icon-close.png') no-repeat 0 0;
	cursor:pointer;
}

.lightbox-img-container { position:relative; display:inline-block; }
.lightbox-img-container.alignleft { margin:0.857142857rem 1.714285714rem 0.857142857rem 0; }
.lightbox-img-container.alignright { margin:0.857142857rem 0 0.857142857rem 1.714285714rem; }
.lightbox-img-container .lightbox-img { display:block; margin:0; }
.lightbox-img-container .icon-expand {
	display:block;
	position:absolute;
	bottom:0px;
	right:0px;
	width:37px;
	height:37px;
	background:url('../images/icon-expand.png') no-repeat 0 0;
}





/*================================ RESPONSIVE CODE ================================*/
@media screen and (max-width:1200px) {
	
	.infographic-container {
		margin-left:5%;
		margin-right:5%;
		width:90%;
	}
	
	.infographic-container .title {
		width:80%;
	}
	
	.infographic-container .image img {
		width:100%;
		heigh:auto;
	}
}

@media screen and (max-width:748px) {

	.infographic-wrapper .icon-container {
		right:0;
	}
}

/* For viewport that is mobile and smaller */
@media screen and (max-width:736px) {
	
	.infographic-lightbox {
		display:none;
	}
	
	.infographic-archive .item, .infographic-archive .item.last {
		width:100%;
		min-height:inherit;
		margin-bottom:25px;
	}
	
	.infographic-archive .item img, .infographic-archive .item.last img {
		width:100%;
	}
	
	.infographic-wrapper .taxonomy .col-1, .infographic-wrapper .taxonomy .col-2 {
		width:100%;
	}
	
	.infographic-wrapper .taxonomy .col-2 {
		text-align:left;
	}
	
	.infographic-wrapper p.entry-meta {
		top:0px;
	}
	
	.infographic-wrapper p.entry-meta a[rel*="category"] {
		font-size:12px;
	}
	
	.infographic-wrapper .icon-expand {
		display:none;
	}
	
	.infographic-wrapper .icon-download {
		margin-right:0;
	}
	
	.lightbox-img-container .icon-expand {
		display:none;
	}
	
	#secondary.widget-area { margin-top:0; }
	
	#secondary .container {
		border-top:1px solid #CCC;
	}
	
	#secondary .container:first-child {
		border-top:none;
	}
	
	#secondary .container img { width:100%; }
	#secondary .container h3 { margin-bottom:15px; font-size:0.9em; }
	#secondary .container h4 { font-size:0.9em; }
	#secondary .container .date { margin-top:3px; }
	#secondary .container .btn { margin-top:13px; width:auto; text-align:center; }
	#secondary .container .widget.event { padding-bottom:35px; padding-top:0px; }
	#secondary .container .widget { padding-bottom:35px; }
}

@media screen and (max-width:575px) {
	
	.event-wrapper .col-1 {
		width:100%;
		padding-left:0;
	}
	
	.event-wrapper .col-2 {
		width:100%;
		padding-left:0;
	}
}

/* For viewport larger than mobile */
@media screen and (min-width:737px) {

	#secondary {
		position:relative;
		height:100%;
		right:0px;
		border-left: 1px solid #CCC;
		float:left;
		width:27.8%;
	}

	#secondary .container {
		border-top:1px solid #CCC;
		padding-left:10%;
	}
}

@media screen and (min-width: 960px) {
	.single-event #page .logo {
		margin-left: 2.857142857rem;
	}
}
