#main {
	position:relative;
	height:auto;
}

#secondary {
	position:absolute;
	height:100%;
	right:0px;
	border-left: 1px solid #CCC;
}

#secondary .container {
	padding-left:39px;
	border-top:1px solid #CCC;
}

#secondary .container .widget {
	padding-top:11px;
	padding-bottom:55px;
	margin-bottom:0;
}

#secondary .container .widget.event {
	display:block;
	height:auto;
	background:#FFF;
}

#secondary .container img {
	border-radius:0px;
	box-shadow: 0 0 0;
}

#secondary .container h3 {
	color:#c3c3c3;
	text-transform:uppercase;
	font-size:16px;
	margin-bottom:35px;
	letter-spacing:1px;
}

#secondary .container h4 {
	color:#000;
	text-transform:uppercase;
	margin-top:16px;
	font-size:18px;
}

#secondary .container .date {
	color:#686868;
	display:block;
	margin-top:11px;
	padding-left:0;
	padding-top:0;
}

#secondary .container .btn {
	margin-top:20px;
	background:#000;
	color:#FFF;
	text-transform:uppercase;
	font-weight:600;
	font-size:16px;
	position:relative;
	text-decoration:none;
	padding:17px 18px 17px 18px;
	display:inline-block;
	width:90px;
}

#secondary .container .btn:active {
	top:2px;
}

#secondary .container p {
	color:#686868;
	margin-top:12px;
	margin-bottom:0;
	font-size:14px;
	font-weight:100;
}

#secondary .container .read-more {
	font-size:14px;
	font-weight:800;
	color:#000;
	text-decoration:none;
	margin-top:20px;
	display:block;
}

#secondary .container .list {
	list-style:decimal;
	margin-left:20px;
}

#secondary .container .list li {
	color:#C3C3C3;
	font-weight:600;
	padding-left:10px;
	margin-bottom:20px;
}

#secondary .container .list a {
	color:#000;
	font-weight:800;
	text-decoration:none;
}

#secondary .container .list a:hover {
	text-decoration:underline;
}