.additional-links a.twitter {
	background-position: 0 -540px;
	padding-bottom: 20px;
	height: 0;
}
.additional-links a.rss {
	background-position: 0 -501px;
	padding-bottom: 24px;
	height: 0;
}
.additional-links a {
	display:block;
	background-image: url('../images/sprite.png');
	background-repeat: no-repeat;
	padding-left: 34px;
}
.additional-links img {
	vertical-align: middle;
	margin-right: 10px;
}
.additional-links p {
	margin-bottom: 20px;
}
.special-note p{
  border-top: 1px solid #ccc;
  font-size: 1.1em;
  font-style: italic;
  font-weight: 300;
  line-height: 1.4em;
  padding-top: 20px;
}
.staff-bio {
	font-size: 1.3em;
	font-weight: 300;
	line-height: 1.3em;
	overflow: hidden;
}
.staff-image {
	float: left;
	height: 100px;
	margin-right: 20px;
	width: 100px;
}
.staff-listing {
	margin-bottom: 50px;
}
.staff-name {
	color: #000;
	font-size: 1.3em;
	font-weight: 800;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.staff-title {
	font-size: .9em;
	font-weight: 300;
	margin-bottom: 10px;
	text-transform: uppercase;
}
h2.section-title {
	color: #282828;
	font-size: 2em;
	margin-bottom: 30px;
	text-transform: uppercase;
}
span.staff-title {
	font-size: .7em;
	margin-left: 10px;
}
ul.staff-members li {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display: block;
	padding: 20px 0;
	overflow: auto;
}
ul.staff-members li:first-child {
	border-bottom: none;
}

@media screen and (max-width: 738px) {
	
	h2.section-title {
		font-size:1.2em;
	}
	
	.staff-name {
		font-size:1em;
	}
	
	span.staff-title {
		font-size:0.85em;
	}
	
	.special-note {
		margin-bottom:25px;
	}
}